:root {
  /* background colors */
  --color-background-primary: #2a2a2a;
  --color-background-secondary: #3a3a3a;
  --color-background-light: #f4f4f4;
  --color-background-light-secondary: #f4f4f4;
  --color-background-navbar: #0b0b0b;

  /* text color */
  --text-color-primary: #ffffff;
  --text-color-secondary: #bfbfbf;
  --text-color-accent: red;

  /* border color */
  --border-color-bright: #ffffff;
  --border-color-dim: #888888;

  /* fonts */
  --logo-font: 'Lobster', cursive;
  --bold-medieval-font: 'Cinzel Decorative', cursive;

  /* margins */
  --margin-outside-main: 20px;
  --margin-inside-main: 20px;

  /* objects */
  --realm-tile-height: 400px;
  --navbar-height: 65px;

  /* realm editor area */
  --title-bar-height: 80px;

  /* z-indexs */
  /* realm: 300s */
  --game-realm-z-index: 300;
  /* game: 200s */
  --queuelist-z-index: 290;
  --hand-card-z-index: 250;
  --board-card-z-index: 240;
  --buttons-z-index: 210;
}
